{% extends 'base.html' %} {% block body %}
<div class="container">
  <h1>Faça login ou crie sua conta !</h1>
  <hr />
  <div class="row">
    <div class="col">
      <legend>Login</legend>
      <form method="POST" action="" class="border p-4 mt-5">
        {{ formLogin.csrf_token}}
        <fieldset>
          <div class="form-group">
            {{ formLogin.email.label(class="form-control-label") }}

            {% if formLogin.email.errors %}
            {{ formLogin.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for erro in formLogin.email.errors %}
              {{ erro }}
              {% endfor %}
            </div>
            {% else %}
            {{ formLogin.email(class="form-control") }}
            {% endif %}

          </div>
          <div class="form-group">
            {{ formLogin.senha.label(class="form-control-label") }}

            {% if formLogin.senha.errors %}
            {{ formLogin.senha(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for erro in formLogin.senha.errors %}
              {{ erro }}
              {% endfor %}
            </div>


            {% else %}
            {{ formLogin.senha(class="form-control") }}
            {% endif %}



          </div>
          <div class="form-group">
            {{ formLogin.lembrar_dados.label(class="form-check-label") }} {{
            formLogin.lembrar_dados(class="form-check-input") }}
          </div>
        </fieldset>
        {{ formLogin.botao_submit_logar(class="btn btn-primary mt-2") }}
      </form>
    </div>








    <div class="col">
      <legend>Criar conta</legend>
      <form method="POST" action="" class="border p-4 mt-5">
        {{ formCriarConta.csrf_token}}
        <fieldset>
          <div class="form-group">
            {{ formCriarConta.username.label(class="form-control-label") }} {{
            formCriarConta.username(class="form-control") }}
          </div>
          <div class="form-group">
            {{ formCriarConta.email.label(class="form-control-label") }}
            {% if formCriarConta.email.errors %}
            {{ formCriarConta.email(class="form-control is-invalid needs-validation") }}
            <div class="invalid-feedback">
              {% for erro in formCriarConta.email.errors %}
              {{ erro }}
              {% endfor %}
            </div>


            {% else %}
            {{ formCriarConta.email(class="form-control") }}
            {% endif %}


          </div>
          <div class="form-group">
            {{ formCriarConta.senha.label(class="form-control-label") }}
            {% if formCriarConta.senha.errors %}
            {{ formCriarConta.senha(class="form-control is-invalid needs-validation") }}
            <div class="invalid-feedback">
              {% for erro in formCriarConta.senha.errors %}
              {{ erro }}
              {% endfor %}
            </div>

            {% else %}
            {{ formCriarConta.senha(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ formCriarConta.confirmacao.label(class="form-control-label") }}
            {% if formCriarConta.confirmacao.errors %}
            {{ formCriarConta.confirmacao(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for erro in formCriarConta.confirmacao.errors %}
              {{ erro }}
              {% endfor %}
            </div>
            {% else %}
            {{ formCriarConta.confirmacao(class="form-control") }}
            {% endif %}
          </div>
        </fieldset>
        {{ formCriarConta.botao_submit_criarConta(class="btn btn-primary mt-2") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}